<div class="container mt-5 text-center">
  <h1 class="display-4 fw-bold">Bienvenido a LuxuryStore</h1>
  <p class="lead mt-3">
    Tu sistema de ventas. Encuentra productos tecnológicos de alta calidad,
    realiza compras rápidas y gestiona tu carrito fácilmente.
  </p>

  <img src="assets/img/store-banner.png" class="img-fluid mt-4 shadow rounded" style="max-height: 300px;">
  
  <p class="mt-4">
    ✨ Gracias por visitar nuestra plataforma.  
    Estamos aquí para brindarte la mejor experiencia.

    

  </p>
 
</div>

